@page
@model Reviews.Pages.testGetAllMoviesWithReviewsModelModel
@{
}
<h1>Movie: @ViewBag.current_movie</h1>

<hr />
<p>Оставте свой отзыв, пожалуйста</p>

 @* <form method="post">
 	<input asp-for="Review.Author" />
 	<input asp-for="Review.Content" />
 	<input asp-for="Review.Rating" />
 	<button type="submit">Submit</button>
 </form> *@
 @* MoviesLibraryUserContextContext *@